<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AddEleve</title>
        <!-- Lien vers le CSS Bootstrap -->
        <link rel="stylesheet" href="/css/ajouterStudent_css.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
                <div th:replace="sidebar/sidebar ::sidebar"></div>
                    <div class="col-md-9">
                        <ul class="header-list">
                            <li></li>
                            <li>
                                <button type="button">
                                    <a th:href="@{/homeEleve}" class="add-student"><img src="/img/back.png">Retour</a>
                                </button>
                            </li>
                        </ul>
                    <h1 class="titre">Ajouter un élève</h1>
                    <div class="center">
                        <form th:object="${teacher}" th:action="@{/homeEleve}" method="post">
                            <div class="form-group">
                                <input  type="text" id="nom" name="nom" placeholder="Nom"><br>
                                <input type="text" id="prenom" name="prenom" placeholder="Prenom">
                            </div>
                            <div class="form-group">
                                <label for="classe">Sélectionner une classe</label>
                                <select id="classe" name="classe">
                                    <option value="Tle">Tle</option>
                                    <option value="1ère">1ère</option>
                                    <option value="2nd">2nd</option>
                                    <option value="3ème">3ème</option>
                                    <option value="4ème">4ème</option>
                                    <option value="5ème">5ème</option>
                                    <option value="6ème">6ème</option>
                                </select>
                            </div>
                            <div class="gender-selection">
                                <label for="homme">
                                    <input type="radio" id="homme" name="genre" value="homme">Homme
                                </label>
                                <label for="femme">
                                    <input type="radio" id="femme" name="genre" value="femme">Femme
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="telephone" name="telephone" placeholder="Téléphone">
                            </div>
                            <div class="form-group">
                                <label >Vacant :
                                    <label for="true">
                                        <input type="radio" id="true"  value="true">Yes :
                                    </label>
                                    <label for="false">
                                        <input type="radio" id="false"  value="false">NO :
                                    </label>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="ville" name="ville" placeholder="Ville">
                            </div>
                            <div class="form-group">
                                <label for="date">Date de naissance</label>
                                <input type="date" id="date" name="date">
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn-cancel">Annuler</button>
                                <button type="submit" class="btn-save">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
         </div>
        </div>
    </div>
    </body>
</html>
