<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
            <link rel="stylesheet" href="/css/updateStudent.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        </head>
        <body>
            <div class="container-fluid">
                <div class="row">
                    <div th:replace="sidebar/sidebar :: sidebar"></div>
                    <div class="col-md-9">
                        <ul class="header-list">
                            <li></li>
                            <li>
                                <button type="button">
                                    <a th:href="@{/homeUser}" class="add-student"><img src="/img/back.png">Retour</a>
                                </button>
                            </li>
                        </ul>
                        <h1 class="titre">Modifier l'Utilisareur</h1>
                         <div class="center">
                            <form>

                                <input type="text" id="nom" name="nom" placeholder="Pseudo"><br>
                                <input type="password" id="ancien mot de passe" name="ancien mot de passe" placeholder="ancien mot de passe"><br>

                                <input type="password" id="Nouveau mot de passe" name="Nouveau mot de passe" placeholder="Nouveau mot de passe"><br>

                                <input type="password" id="Confirmer mot de passe" name="Confirmer mot de passe" placeholder="Confirmer mot de passe">

                                <div class="form-actions">
                                    <button type="button" class="btn-cancel"><a class="text-decoration-none" th:href="@{/homeUser}">Annuler</a></button>
                                    <button type="submit" class="btn-save">Enregistrer</button>
                                </div>
                            </form>
                         </div>
                    </div>
                </div>
            </div>
        </body>
    </html>