
.header-list {
  display: flex;
  justify-content: space-between; /* Place les éléments aux extrémités */
  align-items: center; /* Centre verticalement les éléments */
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime le padding par défaut du <ul> */
  margin: 10px;
  margin-top: 50px; /* Supprime les marges par défaut */
}

.header-list li {
  margin: 0;
}

.header-list h1 {
  margin: 0; /* Supprime la marge par défaut du <h1> */
}

.header-list button {
  background-color: transparent; /* Fond transparent pour le bouton */
  border: none; /* Supprime les bordures du bouton */
}

.header-list a.add-student {
  text-decoration: none; /* Supprime le soulignement du lien */
  color: #000; /* Couleur du texte */
  display: flex;
  align-items: center; /* Centre verticalement l'image et le texte */
}

.header-list img {
  margin-right: 8px; /* Espace entre l'image et le texte */
}

.content-main header .add-student {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}
header button a .add-student{
  text-decoration: none;

}
.content-main header .add-student img {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid black;

}

table th, table td {
  padding: 15px;
  text-align: left;
}

table thead {
  background-color: rgba(94, 93, 93, 0.17);
}
table tbody .tr1{
  background-color: rgba(189, 184, 184, 0.17);

}

table td.actions {
  display: flex;
  gap: 10px;
}

table td .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

