<!doctype html>
    <html lang="en">
    <head>
    </head>
    <body>
    <div th:fragment="sidebar" class="col-md-2 bg-light">
        <div class="d-flex flex-column align-items-start p-3">
            <h4 class="mb-4">
                <img src="/img/pied-piper.jpg" alt="">Mon Etab
            </h4>
            <ul class="nav flex-column w-100">
                <hr>
                <li class="nav-item mb-3">
                    <a class="nav-link active text-dark ps-2" th:href="@{/home}">
                        <img src="/img/mood-board_11102281.png" alt=""> Dashboard
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-dark ps-2" th:href="@{/homeEleve}">
                        <img src="/img/student_8289414.png" alt=""> Élèves
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-dark ps-2" th:href="@{/homeProfesseur}">
                        <img src="/img/teacher_3373447.png" alt=""> Professeurs
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-dark ps-2" th:href="@{/homeUser}">
                        <img src="/img/person_10109804.png" alt=""> Utilisateurs
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-dark ps-2" th:href="@{/rapport}">
                        <img src="/img/file_7429072.png" alt=""> Rapport
                    </a>
                </li>
            </ul>
            <div class="mt-5">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger">
                          <img src="/img/log-out_10024225.png" alt=""> Déconnexion
                  </button>
                </form>
            </div>
        </div>
    </div>
    </body>
  </html>
