<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hello</title>
  </head>
  <body>

  <h1>Bienvenu dans l'application</h1>
 <h4>Students  Details</h4>
  <p>ID: <span th:text="${students.id}"></span></p>
  <p>First Name: <span th:text="${students.firstName}"></span></p>
  <p>Last Name: <span th:text="${students.lastName}"></span></p>

  <span th:text="${students1}?:'Object null'"></span>
  <p th:text="${students1 == null }?'L\'etudiant n\'existe pas':'L\'etudiant existe'"></p>
  <p th:if="${students1 == null}">
    Au revoir
  </p>

  <a th:href="@{/login}" > Connexion</a>



  </body>
  </html>