<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modifier student</title>
  <link rel="stylesheet" href="/css/updateStudent.css">
</head>
<body>
<div class="container">
  <div class="sidebar">
    <div class="logo">
      <h2>Mon Etab</h2>
      <hr>
    </div>
    <ul class="menu">
      <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="32px" height="32px"><path fill="#185fec" d="M128 136c0-22.1-17.9-40-40-40L40 96C17.9 96 0 113.9 0 136l0 48c0 22.1 17.9 40 40 40l48 0c22.1 0 40-17.9 40-40l0-48zm0 192c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40l0 48c0 22.1 17.9 40 40 40l48 0c22.1 0 40-17.9 40-40l0-48zm32-192l0 48c0 22.1 17.9 40 40 40l48 0c22.1 0 40-17.9 40-40l0-48c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40zM288 328c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40l0 48c0 22.1 17.9 40 40 40l48 0c22.1 0 40-17.9 40-40l0-48zm32-192l0 48c0 22.1 17.9 40 40 40l48 0c22.1 0 40-17.9 40-40l0-48c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40zM448 328c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40l0 48c0 22.1 17.9 40 40 40l48 0c22.1 0 40-17.9 40-40l0-48z"/></svg>Tableau de bord</a></li>
      <li><a href="#"><img src="/img/class_5231768.png" alt=""> Élèves</a>
      </li>
      <li><a href="#"><img src="/img/teacher_3278813.png" alt=""> Professeurs</a>
      </li>
      <li><a href="#"><img src="/img/person_13924070.png" alt=""> Utilisateurs</a></li>
      <li><a href="#"><img src="/img/data-report_13057958.png" alt=""> Rapport</a></li>
    </ul>
    <div class="logout">

      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"width="30" height="30">
          <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
        </svg>Déconnexion</a>
    </div>
  </div>
  <div class="content-main">
    <ul class="header-list">
      <li></li>
      <li>
        <button type="button">
          <a href="#" class="add-student"><img src="/img/back.png">Retour</a>
        </button>
      </li>
    </ul>
    <h1 class="titre">Modifier l'élève - 245</h1>
    <div class="center">
      <form>
        <div class="form-group">
          <input type="text" id="nom" name="nom" placeholder="Kouakou"><br>
          <input type="text" id="prenom" name="prenom" placeholder="Georges">
        </div>
        <div class="form-group">
          <label for="classe">Sélectionner une classe</label>
          <select id="classe" name="classe">
            <option value="Tle">Tle</option>
            <option value="1ère">1ère</option>
            <option value="2nd">2nd</option>
            <option value="3ème">3ème</option>
            <option value="4ème">4ème</option>
            <option value="5ème">5ème</option>
            <option value="6ème">6ème</option>
          </select>
        </div>
        <div class="gender-selection">
          <label for="homme">
            <input type="radio" id="homme" name="genre" value="homme">
            Homme
          </label>
          <label for="femme">
            <input type="radio" id="femme" name="genre" value="femme">
            Femme
          </label>
        </div>
        <div class="form-group">
          <input type="text" id="telephone" name="telephone" placeholder="Téléphone">
        </div>
        <div class="form-group">
          <input type="text" id="matricule" name="matricule" placeholder="GDJG83737">
        </div>
        <div class="form-group">
          <input type="text" id="ville" name="ville" placeholder="Dabou">
        </div>
        <div class="form-group">
          <label for="date">Date de naissance</label>
          <input type="date" id="date" name="date">
        </div>
        <div class="form-actions">
          <button type="button" class="btn-cancel">Annuler</button>
          <button type="submit" class="btn-save">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
